<!DOCTYPE html>
<html>
	<body>

	<h2>HTML Forms</h2>

	<form action="/flower">
		<label>Sepal Length :</label><br>
			<input type="number" name="sepal.length"><br><br>

		<label>Sepal Width :</label><br>
			<input type="number" name="sepal.width"><br><br>
			
		<label>Petal Length :</label><br>
			<input type="number" name="petal.length"><br><br>
			
		<label>Petal Width :</label><br>
			<input type="number" name="petal.width"><br><br>
			
			
		<button type ="submit">Predict the price</button>
	</form> 


</body>
</html>